body {
    max-width: 1280px;
    background-color: rgb(81, 124, 16);
    margin: auto;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.todo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: .5rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.done {
background-color: yellow;
}